@bg-body: #fff; 
@bg-menu: #283645;
@bg-app: #1d2631;
@bg-feature: #f2f2f2;
@bg-slider: #bec2c7;

@text-size-base: 14px;
@text-size-menu: 18px;
@text-size-h1: 24px;

@line-height-base: 24px;
@line-height-30: 30px;
@font: 'Open Sans', sans-serif;

@weight-menu: 700;
@weight-h1: 300;
@weight-regular: 400;

@color-base: #283645;
@color-light: #fff;
@color-dark: #000;